[Unit]
Description=Rolling Restarts Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ project_root }}
ExecStartPre=/usr/bin/docker compose --env-file {{ compose_env_path }} -f {{ compose_file }} -f {{ compose_prod_file }} pull
ExecStart=/usr/bin/docker compose --env-file {{ compose_env_path }} -f {{ compose_file }} -f {{ compose_prod_file }} up -d
ExecStop=/usr/bin/docker compose --env-file {{ compose_env_path }} -f {{ compose_file }} -f {{ compose_prod_file }} down
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
