---
project_root: /opt/rolling-restarts

# Container registry (GHCR, Docker Hub, etc.)
registry: ghcr.io/aet-devops26/team-the-rolling-restarts
registry_user: ""
registry_token: ""
image_tag: latest

app_env:
  NEXT_PUBLIC_API_BASE_URL: "http://localhost:8080"
  LLM_PROVIDER: "openai"
  LLM_API_KEY: "replace-with-vault-secret"
  LLM_MODEL: "gpt-4o-mini"
  LOG_LEVEL: "INFO"
  APP_PORT: "80"
  GEN_AI_PORT: "8000"
  MONGO_PORT: "27017"
  MONGO_DATABASE: "mydatabase"
  MONGO_ROOT_USERNAME: "root"
  MONGO_ROOT_PASSWORD: "replace-with-vault-secret"
  LGTM_GRAFANA_PORT: "3001"
  LGTM_OTLP_GRPC_PORT: "4317"
  LGTM_OTLP_HTTP_PORT: "4318"
